:root {
  --couleur-blanc: white;
  --couleur-gris-pale: #f6f6f6;
  --couleur-gris-border: #f0f0f0;
  --couleur-gris-primaire: #c1cfd7;
  --couleur-texte: #06070e;
  --couleur-primaire: #012169;
  --couleur-secondaire: #c8102e;
}
