/* DROP MENU NAVIGATION */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  padding: 10px 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--couleur-blanc);
  min-width: auto;
  z-index: 1;
}

.dropdown-content * {
  text-transform: none;
}

.dropdown-content a {
  color: var(--couleur-texte);
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover {
  background-color: var(--couleur-gris-pale);
}

.dropdown:hover .dropbtn {
  border: none;
  color: var(--couleur-primaire);
}

.dropdown-content a:hover {
  color: var(--couleur-primaire);
  background-color: var(--couleur-gris-pale);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* classes déplacées dans nav.css  ligne 125 */
