/* PIED DE PAGE */

[id="pied-principal"] {
  padding: 60px;
  background-color: var(--couleur-gris-primaire);
  text-transform: uppercase;
  flex-shrink: 0;
}

[id="pied-principal"] .flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

[id="pied-principal"] .flex-start > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

[id="pied-principal"] a {
  padding: 10px 20px;
  color: var(--couleur-texte);
}

[id="pied-principal"] .logo {
  color: var(--couleur-blanc);
  text-decoration: none;
  font-size: 80px;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
}

[id="pied-principal"] .container .reseaux-sociaux {
  display: flex;
  flex-direction: row;
  font-size: xx-large;
}

[id="pied-principal"] span {
  display: none;
  width: 0;
  visibility: hidden;
}

/*   RESPONSIVE  */

@media screen and (max-width: 870px) {
  [id="pied-principal"] {
    padding: 60px 20px;
  }
}
@media screen and (max-width: 650px) {
  [id="pied-principal"] .flex-start {
    flex-direction: column;
  }
}
